@model Larram.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<form method="post">
    <br />
    <div class="backgroundWhiteBorder Roboto">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-right">
                        <a asp-action="Index" asp-controller="Cart" asp-area="Customer" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">PickUp Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Order.Name" type="text" class="form-control" />
                                        <span asp-validation-for="Order.Name" class="text-danger Roboto" style="font-size:80%;"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Order.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="Order.PhoneNumber" class="text-danger Roboto" style="font-size:80%;"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Street Address</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Order.StreetAdress" type="text" class="form-control" />
                                        <span asp-validation-for="Order.StreetAdress" class="text-danger Roboto" style="font-size:80%;"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>City</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Order.City" type="text" class="form-control" />
                                        <span asp-validation-for="Order.City" class="text-danger Roboto" style="font-size:80%;"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>State</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Order.State" type="text" class="form-control" />
                                        <span asp-validation-for="Order.State" class="text-danger Roboto" style="font-size:80%;"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Postal Code</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Order.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="Order.PostalCode" class="text-danger Roboto" style="font-size:80%;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Order Summary:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @foreach(var item in Model.ListCart) {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0"><b>@item.ProductAvailability.Product.Name</b></h6>
                                            <small class="text-muted">Quantity: @item.ProductAvailability.Quantity</small>
                                        </div>
                                        <div>
                                            <p style="font-size:70%;" class="text-muted my-0">Cena: @item.ProductAvailability.Product.Price.ToString("0.00") PLN</p>
                                            <p style="font-size:70%;" class="text-muted">Suma: @((item.Price*item.Quantity).ToString("0.00")) PLN</p>
                                        </div>
                                    </li>
                                    }
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <small class="text-info">Total (USD)</small>
                                        <strong class="text-info">@Model.Order.OrderTotal.ToString("0.00") PLN</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-8 pt-2">
                            <p style="color:maroon; font-size:14px;">Estimate Arrival Date: @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()</p>
                        </div>
                        <div class="col-12 col-md-4">

                            <button type="submit" value="Place Order" class="btn btn-success form-control">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>*@

<form method="post">
    <div class="container Roboto pt-5 pb-5 pl-5">
        <div class="row">
            <div class="col-12 text-left pl-0">
                <a asp-action="Index" asp-controller="Cart" asp-area="Customer" class="btn pl-0"><i class="fas fa-arrow-left"></i> <b>Wróć do koszyka</b></a>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12 pt-4 pb-2 pl-0">
                        <h3><b>Dane do wysyłki</b></h3>
                    </div>
                    <div class="row">
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Imię </b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input asp-for="Order.Name" class="form-control" style="width:60%;" />
                        </div>
                        <div class="col-12  pt-3 p-2 d-flex justify-content-start">
                            <span style="font-size:80%; width:60%;" asp-validation-for="Order.Name" class="m-0 text-left pl-1 text-danger"></span>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>Miasto </b></h1>
                                </div>
                                <div class="col-6 p-2">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>Województwo </b></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <input asp-for="Order.City" class="form-control" style="width:120%;" />
                                </div>
                                <div class="col-6 p-2">
                                    <input asp-for="Order.State" class="form-control" style="width:120%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-0 d-flex justify-content-center">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.City" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.State" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Ulica</b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input asp-for="Order.StreetAdress" class="form-control" style="width:60%;" />
                        </div>
                        <div class="col-12  pt-3 p-2 d-flex justify-content-start">
                            <span style="font-size:80%; width:60%;" asp-validation-for="Order.StreetAdress" class="m-0 text-left pl-1 text-danger"></span>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Kod pocztowy </b></h1>
                                </div>
                                <div class="col-6 p-2">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Numer telefonu </b></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <input asp-for="Order.PostalCode" class="form-control" style="width:120%;" />
                                </div>
                                <div class="col-6 p-2">
                                    <input asp-for="Order.PhoneNumber" class="form-control" style="width:120%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-0 d-flex justify-content-center">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.PostalCode" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.PhoneNumber" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-4 pb-2 pl-0">
                        <h3 onclick="showHide()"><b>Płatność</b></h3>
                    </div>
                        <div class="row" id="showHideDetails">
                            <div class="col-12 p-2 d-flex justify-content-start">
                                <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Dane właściciela karty</b></h1>
                            </div>
                            <div class="col-12 d-flex justify-content-start">
                                <input type="text" class="form-control" style="width:60%;" />
                            </div>
                            <div class="col-12 p-2 d-flex justify-content-start">
                                <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Numer karty</b></h1>
                            </div>
                            <div class="col-12 d-flex justify-content-start">
                                <input type="text" class="form-control" style="width:60%;" />
                            </div>
                            <div class="col-12 p-2 d-flex justify-content-start">
                                <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>CVC </b></h1>
                            </div>
                            <div class="col-12 d-flex justify-content-start">
                                <input type="text" class="form-control" style="width:60%;" />
                            </div>
                            <div class="col-12 p-2 d-flex justify-content-start">
                                <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Data ważności karty</b></h1>
                            </div>
                            <div class="col-12 d-flex justify-content-start">
                                <div class="row text-center" style="width:58%;">
                                    <div class="col-6 p-2 d-flex justify-content-start">
                                        <input type="text" placeholder="Miesiąc" class="form-control" style="width:120%;" />
                                    </div>
                                    <div class="col-6 p-2">
                                        <input type="text" placeholder="Rok" class="form-control" style="width:120%;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12 pt-4 pb-2 pl-0">
                        <h5><b>Podsumowanie zamówienia</b></h5>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @foreach (var item in Model.ListCart)
                            {
                                <div class="row pt-3">
                                    <div class="col-6">
                                        <h6><b>@item.ProductAvailability.Product.Name</b></h6>
                                    </div>
                                    <div class="col-6 text-right">
                                        <h6 style="font-size:70%;">Cena: @item.ProductAvailability.Product.Price.ToString("0.00") PLN</h6>
                                    </div>
                                    <div class="col-6">
                                        <h6 style="font-size:70%;">Ilość: @item.Quantity</h6>
                                    </div>
                                    <div class="col-6 text-right">
                                        <h6 style="font-size:70%;"><b>Suma: @((item.Price*item.Quantity).ToString("0.00")) PLN</b></h6>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 pb-5 pt-5">
                        <div class="row">
                            <div class="col-6 p-0">
                                <h4>
                                    <b>Suma końcowa:</b>
                                </h4>
                            </div>
                            <div class="col-6 p-0 text-right">
                                <h4><b>@Model.Order.OrderTotal.ToString("0.00") PLN</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark text-light form-control rounded-0"><b>ZŁÓŻ ZAMÓWIENIE</b></button>
                    </div>
                    <div class="col-12 pt-3 text-center">
                        <h6 style="font-size:60%;">
                            Przewidywana data dostarczenia: @DateTime.Now.ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        function showHide() {
        }
    </script>
 }