@model Larram.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="container Roboto pt-5 pb-5 pl-5">
        <div class="row w-100 m-0">
            <div class="col-12 text-left pl-0">
                <a asp-action="Index" asp-controller="Cart" asp-area="Customer" class="btn pl-0"><i class="fas fa-arrow-left"></i> <b>Wróć do koszyka</b></a>
            </div>
            <div class="col-12">
                <h6 class="text-danger">@TempData["message"]</h6>
            </div>
            <div class="col-lg-8 col-12">
                <div class="row">
                    <div class="col-6 pt-4 pb-2 pl-0">
                        <h3><b>Dane do wysyłki</b></h3>
                    </div>
                    <div class="col-6 pt-4 pb-2 pl-0 d-flex justify-content-center">
                        <i onclick="showHideDelivery()" id="minusplus" class="fas fa-plus"></i>
                    </div>
                    <div class="row d-none" id="showHideDeliveryDetails">
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Imię </b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input asp-for="Order.Name" class="form-control" style="width:60%;" />
                        </div>
                        <div class="col-12  pt-3 p-2 d-flex justify-content-start">
                            <span style="font-size:80%; width:60%;" asp-validation-for="Order.Name" class="m-0 text-left pl-1 text-danger"></span>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>Miasto </b></h1>
                                </div>
                                <div class="col-6 p-2">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>Województwo </b></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <input asp-for="Order.City" class="form-control" style="width:120%;" />
                                </div>
                                <div class="col-6 p-2">
                                    <input asp-for="Order.State" class="form-control" style="width:120%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-0 d-flex justify-content-center">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.City" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.State" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Ulica</b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input asp-for="Order.StreetAdress" class="form-control" style="width:60%;" />
                        </div>
                        <div class="col-12  pt-3 p-2 d-flex justify-content-start">
                            <span style="font-size:80%; width:60%;" asp-validation-for="Order.StreetAdress" class="m-0 text-left pl-1 text-danger"></span>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Kod pocztowy </b></h1>
                                </div>
                                <div class="col-6 p-2">
                                    <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Numer telefonu </b></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <input asp-for="Order.PostalCode" class="form-control" style="width:120%;" />
                                </div>
                                <div class="col-6 p-2">
                                    <input asp-for="Order.PhoneNumber" class="form-control" style="width:120%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-0 d-flex justify-content-center">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.PostalCode" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span style="font-size:80%; width:40%;" asp-validation-for="Order.PhoneNumber" class="m-0 text-left pl-1 text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pt-4 pb-2 pl-0">
                        <h3><b>Płatność</b></h3>
                    </div>
                    <div class="col-6 pt-4 pb-2 pl-0 d-flex justify-content-center">
                        <i onclick="showHidePayment()" id="minuspluspay" class="fas fa-plus"></i>
                    </div>
                    <div class="row d-none" id="showHidePaymentDetails">
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Dane właściciela karty</b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input type="text" class="form-control" style="width:60%;" />
                        </div>
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Numer karty</b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input type="text" class="form-control" style="width:60%;" />
                        </div>
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>CVC </b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <input type="text" class="form-control" style="width:60%;" />
                        </div>
                        <div class="col-12 p-2 d-flex justify-content-start">
                            <h1 class="m-0 text-left pl-1" style="font-size:80%; width:60%;"><b>Data ważności karty</b></h1>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <div class="row text-center" style="width:58%;">
                                <div class="col-6 p-2 d-flex justify-content-start">
                                    <input type="text" placeholder="Miesiąc" class="form-control" style="width:120%;" />
                                </div>
                                <div class="col-6 p-2">
                                    <input type="text" placeholder="Rok" class="form-control" style="width:120%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-10 pt-4 pb-2 pl-0">
                        <h5><b>Podsumowanie zamówienia</b></h5>
                    </div>
                    <div class="col-2 pt-4 pb-2 pl-0 d-flex justify-content-center">
                        <i onclick="showHideProduct()" id="minusplusprod" class="fas fa-plus"></i>
                    </div>
                    <div class="col-12">
                        <div class="row d-none" id="showHideProductDetails">
                            @foreach (var item in Model.ListCart)
                            {
                                <div class="row pt-3">
                                    <div class="col-6">
                                        <h6><b>@item.ProductAvailability.Product.Name</b></h6>
                                    </div>
                                    <div class="col-6 text-right">
                                        <h6 style="font-size:70%;">Cena: @item.ProductAvailability.Product.Price.ToString("0.00") PLN</h6>
                                    </div>
                                    <div class="col-6">
                                        <h6 style="font-size:70%;">Ilość: @item.Quantity</h6>
                                    </div>
                                    <div class="col-6 text-right">
                                        <h6 style="font-size:70%;"><b>Suma: @((item.Price*item.Quantity).ToString("0.00")) PLN</b></h6>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 pb-5 pt-5">
                        <div class="row">
                            <div class="col-6 p-0">
                                <h4>
                                    <b>Suma końcowa:</b>
                                </h4>
                            </div>
                            <div class="col-6 p-0 pr-2 text-right">
                                <h4><b>@Model.Order.OrderTotal.ToString("0.00") PLN</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark text-light form-control rounded-0"><b>ZŁÓŻ ZAMÓWIENIE</b></button>
                    </div>
                    <div class="col-12 pt-3 text-center">
                        <h6 style="font-size:60%;">
                            Przewidywana data dostarczenia: @DateTime.Now.ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        function showHidePayment() {
            var details = document.getElementById("showHidePaymentDetails");
          if (details.className == "row") {
                details.className = "row d-none";
                document.getElementById("minuspluspay").className = "fas fa-plus";
            } else {
                details.className = "row";
                document.getElementById("minuspluspay").className = "fas fa-minus";
            }
        }
        function showHideDelivery() {
            var details = document.getElementById("showHideDeliveryDetails");
            if (details.className == "row") {
                details.className = "row d-none";
                document.getElementById("minusplus").className = "fas fa-plus";
            } else {
                details.className = "row";
                document.getElementById("minusplus").className = "fas fa-minus";
            }
        }
        function showHideProduct() {
            var details = document.getElementById("showHideProductDetails");
            if (details.className == "row") {
                details.className = "row d-none";
                document.getElementById("minusplusprod").className = "fas fa-plus";
            } else {
                details.className = "row";
                document.getElementById("minusplusprod").className = "fas fa-minus";
            }
        }
    </script>
 }