@model Larram.Models.ViewModels.ProductAvailabilityViewModel;
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container p-3 Roboto">
        <div class="row row-cols-2">
            <div class="col">
                <img src="@Model.Product.ImageUrl" class="w-100 h-100" />
            </div>
            <div class="col pt-5 pl-5">
                <div class="container">
                    <div class="row" style="font-size:100%;">
                        <div class="col p-3">
                            @Model.Product.Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-3" style="font-size:150%;">
                            <b>@Model.Product.Price.ToString("0.00")</b>
                        </div>
                    </div>
                    <div class="row" style="font-size:70%;">
                        <div class="col p-3">
                            Kolory
                        </div>
                    </div>
                    <div class="row" style="height:50%;">
                        <div class="col p-2">
                            @foreach (var product in Model.Products)
                            {
                            <a asp-area="Customer" asp-controller="Home" asp-action="ProductDetails" asp-route-id="@product.Id"><div class="d-inline p-1 pl-4 m-2 border" style="background-color:@product.Color.HexValue"></div></a>
                            }
                        </div>
                    </div>
                    <div class="row" style="font-size:70%;">
                        <div class="col pt-4 pb-2">
                            Rozmiar
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2">
                            <select class="form-control w-50 m-2">
                                <option value="" disabled selected>-Wybierz rozmiar</option>
                                @foreach(var size in Model.ProductAvailabilities)
                                {
                                    <option>@size.Size.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-4">
                            <a class="p-3 border bg-dark text-white" style="font-size:80%;"><i style="font-size:24px" class="mb-1" data-feather="shopping-bag"></i> DODAJ DO KOSZYKA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
